.formnew
    margin-top: 150px
    display: grid
    justify-content: center
    padding: 50px
    box-sizing: border-box

    border-radius: 20px
    width: 400px
    height: 400px
    margin-left: auto
    margin-right: auto
    border: 0.1px solid #a8a8a863
    transition: 0.3s linear
    animation: lefttoright 0.75s ease-in-out
    &:hover
        border: 0.1px solid #009daf63

    &__text
        align-content: center
        width: 100%
        font-size: 2rem
        display: flex
        gap: 5px

        .plusicon
            padding-top: 2px
            color: #00d7e5
    form
        display: grid
        width: 300px
        margin-left: auto
        margin-right: auto
        justify-items: center
        align-items: center
        p
            text-align: start

        input
            width: 300px
            padding: 5px 12.5px
            box-sizing: border-box
            outline: none
            border: 0.1px solid #00000017
            border-radius: 10px
            height: 35px

        button
            color: #00d7e5
            background: transparent
            border: 1px solid #00d7e5
            border-radius: 5px
            height: 40px
            width: 100px
            transition: 0.3s linear
            cursor: pointer
            &:hover

                color: #ffffff
                background-color: #00d7e5
                border: 1px solid #009ce5
