@use '../animations/fadedown'

#root

.content

    &__container
        position: relative
        width: 100vw
        overflow-x: hidden

    .form
        width: 100%
        display: grid
        height: 400px

        form
            width: 70%
            margin-left: auto
            height: 100%
            box-sizing: border-box
            padding: 20px
            background-color: #fffffe
            border: 0.1px solid #a8a8a863
            display: grid
            grid-template-columns: auto
            justify-content: center
            justify-items: center
            align-content: space-evenly
            border-radius: 15px
            transition: 0.2s linear

            &:hover
                border: 0.1px solid #009daf63

            input
                width: 200px
                border-radius: 5px
                border: 1px solid #ebebeb
                box-sizing: border-box
                padding: 7.5px
                height: 30px
                outline: none
                transition: 0.5s ease-out

                &:hover
                    border: 1px solid #10cfe3

            button
                border-radius: 7.5px
                border: none
                cursor: pointer
                font-family: Arial, Helvetica, sans-serif
                background-color: #ffffff
                color: #00ffff
                border: 0.5px solid #00ffff
                height: 30px
                width: 100px
                transition: 0.3s ease-out
                &:hover
                    border: 0.5px solid
                    background-color: #00e1ff
                    color: #ffffff
